.questionList {
  .questionItem {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 24px;

      .title {
        width: 225px;
        font-size: 16px;
        font-weight: 600;
        color: #301534;
        cursor: pointer;
      }

      &:hover .title {
        color: #ad28eb;
      }
    }

    .answer {
      color: #8b6990;
      font-size: 14px;
      line-height: 1.5;
      margin-top: 24px;
    }
  }

  .questionItem:not(:first-child) {
    margin-top: 20px;
  }

  .questionItem:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .questionList {
    .questionItem {
      .header {
        .title {
          width: unset;
          font-size: 18px;
        }
      }

      .answer {
        font-size: 16px;
      }
    }
  }
}
