:root {
  --font-family: 'Work Sans';
  --color-white: #ffffff;
  --color-pink: #ad28eb;
  --color-light-pink: #f8eeff;
  --color-pale-pink: #8b6990;
  --color-dark-purple: #301534;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Work Sans';
  background: var(--color-light-pink);
}

a {
  color: inherit;
  text-decoration: none;
}
