.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-block: 142.5px;

  .backgroundPattern {
    background-image: url('/fm-faq-accordion/background-pattern-mobile.svg');
    height: 232px;

    position: fixed;
    inset: 0 0 auto;
    z-index: -1;
  }
}

@media (min-width: 768px) {
  .main {
    padding-block: 167.5px;

    .backgroundPattern {
      background-image: url('/fm-faq-accordion/background-pattern-desktop.svg');
      height: 320px;
    }
  }
}
