.backgroundPattern {
  background-image: url('/background-pattern-mobile.svg');
  height: 232px;

  position: fixed;
  inset: 0 0 auto;
  z-index: -1;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 327px;
  background-color: #fff;
  padding: 24px;

  .header {
    display: flex;
    align-items: center;
    gap: 0 24px;

    .title {
      font-size: 32px;
      font-weight: 700;
      color: #301534;
    }
  }
}

@media (min-width: 768px) {
  .backgroundPattern {
    background-image: url('/background-pattern-desktop.svg');
    height: 320px;
  }
}
